:root {
  color-scheme: light dark; /* use the choosen default theme for the page */
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 0.8fr);
}

.seven, .eight, .nine, .clear, .backspace {
  grid-row: 1;
}

.four, .five, .six, .times, .divide {
  grid-row: 2;
}

.one, .two, .three, .plus, .less {
  grid-row: 3;
}

.zero, .point, .exp {
  grid-row: 4;
}

.point {
  grid-column: 4;
}

.exp {
  grid-column: 5;
}